/*themes > at_decor > assets > css > custom.css */
/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.product-variants .input-container label {
   text-align: center;
 }

#customer-form .form-control-label {
  text-align: right;
}

 .product-variants .input-container label p {
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: bold;
 }

 .product-variants > .product-variants-item .color {
   margin-bottom: 10px;
 }

#product-details .label, #product-details .product-features .h6, #product-details .product-availability-date label {
  font-family: times;
}

.owl-carousel .item .blog-container .blog-image-container img  {
  width: 100% !important;
  height: auto;
}

.block_newsletter .col-conditions label {
  color: #c0c0c0;
}

.latest-blogs .blog-container .blog-image-container {
  padding-bottom: 60%;
}

#identity .form-control-label {
  padding-top: 5px;
}

@media (min-width: 576px) {
#module-leoblog-blog #left-column #blogPopularBlog, #module-leoblog-blog #left-column #blogRecentBlog, #module-leoblog-blog #left-column #tags_blog_block_left{
    width: 80%;
    max-width: 80%;
    margin: auto;
  }

  #module-leoblog-category #left-column #blogPopularBlog, #module-leoblog-category #left-column #blogRecentBlog, #module-leoblog-category #left-column #tags_blog_block_left{
    width: 80%;
    max-width: 80%;
    margin: auto;
  }

  #module-leoblog-list #left-column #blogPopularBlog, #module-leoblog-list #left-column #blogRecentBlog, #module-leoblog-list #left-column #tags_blog_block_left{
    width: 80%;
    max-width: 80%;
    margin: auto;
  }
}

.leo-block-sidebar  .list-item .info {
  display: none;
}

#colissimo-widget-container {
  height: auto !important;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

div.thumb-mask > .mask {
  border: none;
}

div.thumb-mask > .mask img {
	width: auto;
	height: 55px;
}

li.product-flag{
  font-size: 16px;
}

.attachment p {
    margin-bottom: 0;
}

.attachment {
    margin-bottom: 2em;
}

.facet ul.collapse.in {
	max-height: unset;
}

.features-highlight {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.features-highlight img {
    width: 30px;
    margin-right: 10px;
    transform: translateY(35%);
    min-width: 30px;
}

.features-highlight:nth-last-child(1) {
	margin-bottom: 20px;
}

.features-highlight p {
    margin: 0;
    margin-left: 5px;
    /*margin-right: 10px;*/

}

.features-highlight p.name {
    color: #111;
}

.product-variants ul .input-container label p {
    font-size: 12px;
    text-transform: unset;
}

.blockreassurance_product > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  padding: 20px 0;
}

.blockreassurance_product .block-title, .blockreassurance_product p {
  font-size: 11px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}

.blockreassurance_product .item-product {
    margin-bottom: 5px;
}

.add-to-cart {
  color: #fff !important;
}

button.btn-cart-text {
  white-space: nowrap;
}

.add .add-to-cart:hover {
  background: #cc9e29 !important;
  animation: 0.8s linear 1s slidein;
}

@keyframes slidein {
  from { width: 0; }
  to   { width: 80%; }
}

@media (min-width: 600px) {
    .blockreassurance_product > div {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .blockreassurance_product > div {
    width: 25%;
  }
}
@media (max-width: 599px) {
    .blockreassurance_product > div {
    width: 100%;
  }
}

.blockreassurance_product .clearfix {
  display: none;
}

@media(max-width: 991px){
    .product-add-to-cart .product-quantity button.add-to-cart {
        float: left;
        width: 80%;
    }
    .leo-compare-wishlist-button {
        float: right;
    }
}

@media(max-width: 600px){
    .product-add-to-cart .product-quantity button.add-to-cart {
        float: left;
        width: 75%;
    }
    
    .product-actions .add-to-cart {
        font-size: 9px;
    }
}

.box-proh10 .owl-theme .owl-buttons div.owl-next, .box-saleh11 .owl-theme .owl-buttons div.owl-next, .box-blogh11 .owl-theme .owl-buttons div.owl-next, .box-blog .owl-theme .owl-buttons div.owl-next, .box-produch10 .owl-theme .owl-buttons div.owl-next, .box-h10 .owl-theme .owl-buttons div.owl-next {
    right: 9px;
}

.box-proh10 .owl-theme .owl-buttons div.owl-prev, .box-saleh11 .owl-theme .owl-buttons div.owl-prev, .box-blogh11 .owl-theme .owl-buttons div.owl-prev, .box-blog .owl-theme .owl-buttons div.owl-prev, .box-produch10 .owl-theme .owl-buttons div.owl-prev, .box-h10 .owl-theme .owl-buttons div.owl-prev {
  left: 9px;
}

#gdpr_consent .psgdpr_consent_message {
    display: flex;
}

.custom-checkbox input[type="checkbox"] + span, .custom-checkbox input[type="radio"] + span {
    min-width: 16px;
}

.block_newsletter p.alert {
    padding-left: 40px;
}

.block_newsletter p.alert:before {
    top: 7px;
}

div.box-lanter .ApImage .image_description strong::before, div.box-lanter .ApImage .image_description b::before {
    transition: none;
}

.tax-shipping-delivery-label {
    font-size: 15px;
    color: #878787;
    margin-top: -15px;
}

@media(max-width: 480px) {
  #blockcart-modal .cart-content .cart-content-btn .btn.btn-primary {
    width: 100%;
    margin-top: 10px;
  }
}

@media(min-width: 768px) {
    #amazzing_filter {
        display: none;
    }
}

@media(max-width: 767px) {
    div#search_filters_wrapper, button#search_filter_toggler {
        display: none !important;
    }
}

.price-ecotax a.ecotax-link {
	text-decoration: underline;
	cursor: pointer;
}

.eco-pop-up-link {
	margin-bottom: 30px;
	display: block;
}

.eco-pop-up-btn {
  width: 100%;
}

/*.color-attribute {
  width: 90px;
}*/


@media(max-width: 400px) {
.box-footertoph7 .col-right .block {
	width: 320px;
}
}

@media(max-width: 768px) {
a.buy-btn {
    background-color: #cc9e29;
}
}

.compact-toggle .compact-toggle-icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

#amazzing_filter .compact-toggle {
  left: -48px;
}

.has-compact-filter.show-filter #amazzing_filter {
  transform: translateX(48px);
  padding-right: 48px;
}

.has-compact-filter #amazzing_filter .btn-holder {
  right: 48px;
}

div.widget-category_image {
  padding: 0;
  padding-top: 18px;
}

.tax-shipping-delivery-label {
    color: #72bb6c;
    font-size: 16px;   
}

.input-container .input-color-container {
	width: 90px;
}

.product-flags li.product-flag.new {
	color: #249b21;
border-color: #249b21;
}

@media (max-width: 767px) {
    .product-tabs.tabs .tab-content {
        padding: 0 !important;
    }
    
    #product .has-discount .discount  {
     display: none;
    }
}

#description .h2 {
	text-align: center;
	font-family: times;
	font-size: 2em;
	margin: .67em 0;
	margin-top: 0;
	margin-bottom: .5rem;
}

.d-flex {
  display: flex;
}

.promo-banner {
   font-size: 15px;
line-height: 2;
color: silver;
padding: 0;
}

.thumbnail-container .product-price-and-shipping .discount-amount {
display: none;
}

.product-description h2 {
    text-align: left;
    font-size: 2em;
    margin: .67em 0;
}

.product-description h3 {
    text-align: left;
    font-size: 1.5em;
    margin: .5em 0;
}

.product-description table td iframe {
    text-align: center;
    display: block;
    margin: auto;
}

.af_pl_wrapper nav.pagination {
    display: block !important;
}

#leo_product_reviews_block_extra {
  margin-top: 20px;
}

#leo_product_reviews_block_extra .reviews_note {
  font-size: 14px;
}

ul.reviews_advices {
  margin-top: 5px;
}

#customer-form .form-control-label {
    padding-top: 0;
}

#customer-form .checkbox-container {
    display: flex;
    flex-wrap: nowrap;
}

#authentication .checkbox-container .required {
    margin-left: -30px;
}

#authentication .checkbox-container .required + div > span > label {
    padding: 0 0 0 22px;
}
#customer-form .checkbox-container > div {
    flex-grow: 1;
}

#customer-form .custom-checkbox label {
    padding: 0;
}

#customer-form .checkbox-container .form-control-comment {
    display: none;
}

#checkout-guest-form .checkbox-container .required, #identity .checkbox-container .required {
    margin-left: -14px;
    margin-right: 5px;
}

.page-customer-account #content .forgot-password, .page-customer-account #content .no-account {
    font-size: 16px;
}

.lql-social-login-title {
	display: none;
}

#index .block_content h1 {
    font-size: 25px;
    margin: 0 0 25px;
    font-weight: 500;
    line-height: 1.1;
    color: #000;
}

#index .block_content h2 {
    font-size: 20px;
    color: #666;
}

#index .box-wellcome .ApHtml {
    max-width: 800px;
}

.password-new {
	max-width: 500px;
	margin: auto;
}

.js-mailalert {
  text-align:left !important; 
}

.product-flags li.product-flag, .thumbnail-container .discount-percentage {
	padding: 8px 15px;
	color: white;
	font-size: 14px;
	text-align: center;
}


.product-flags li.product-flag.new {
        border: 1px solid #249b21;
	background: #249b21;
        color: white;
}

.product-flags li.product-flag.pack {
        border: 1px solid #333;
        background: #333;
        color: white;
}

.product-flags li.product-flag.on-sale, .thumbnail-container .discount-percentage {
        border: 1px solid #cc9e29;
        background: #cc9e29;
        color: white;
}

/*.product-flags li.product-flag.discount {
        border: 1px solid #cc9e29;
        background: #cc9e29;
        color: white;
	display: block;
}*/



body.private_modern_theme .btn {
	background: #292929;
	color: #fff;
}

body.private_modern_theme .btn:hover { 
        background: #cc9e29;
	border-color: #cc9e29;
	color: #000;
}

@media (max-width: 1240px) {

	.blog-detail .blog-description {
		padding: 30px 0;
	}
	.blog-detail .blog-description, .blog-detail .blog-title {
		margin: 0;
}

.product_list .product-flags li.product-flag, .product-miniature .product-flags li.product-flag, .thumbnail-container .discount-percentage {
	padding: 2px 6px;
	color: white;
	font-size: 10px;
	text-align: center;
}
}

.product-flags {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-right: 20px;
}

.input-color-container > label {
	width: 90px;
}

#product .product-flags {
  padding-right: 0px;
  padding-left: 20px;
}

.blog-detail .blog-title {
  font-size: 26px;
  font-weight: 500px;
  font-family: times;
}

.blog-item .title a{
  font-family: times;
}

.blog-detail h1 {
  font-size: 1.6em;
}

.blog-detail h2 {
  font-size: 1.5em;
}

.blog-detail h3 {
  font-size: 1.25em;  
}

.product-price-and-shipping.has_discount .discount-percentage {
  display: none;
}

.product-cover li.product-flag.discount {
 	display: block;
    padding: 8px 15px;
    color: white;
    font-size: 14px;
	text-align: center;
	border: 1px solid #cc9e29;
	background: #cc9e29;
	color: #fff;
}

.grecaptcha-badge {
  display: none !important;
}

@media(max-width: 768px){
  .owl-carousel .owl-wrapper-outer .owl-item, .product_list.grid .ajax_block_product {
    padding: 0 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.offcanvas-mainnav .dropdown-menu-inner li {
	font-size: 15px;
	font-weight: 400;	
	position: relative;
	width: 100%;margin : 5px 0;
} 

@font-face {
    font-family: 'Futura';
    src: url("../fonts/Futura Bold font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
}

 dl {
        display: flex;
        flex-flow: row wrap;
      }
      dt {
        flex-basis: 40%;
        margin-bottom: 0.5rem;
      }
      dd {
        flex-basis: 50%;
        flex-grow: 1;
      }

@media(max-width: 620px) {
  #category-description h3{
    font-size: 1.2rem;
  }
}

.box-navh6 span {
line-height: 1.5;
}

div.box-navh6 {
border-bottom: none;
}

.ApSlideShow .bannercontainer .tp-caption {
    font-family: times;
    text-transform: none;
}

.ApSlideShow .bannercontainer .tp-caption.btn {
font-family: arial;
font-weight: 600;
letter-spacing: 0.1rem;
}

#privatebox #center_column{
max-width: 700px;
margin: auto;
}


div.leo-dropdown-cart {
	position: absolute !important;
}

body#checkout .custom-checkbox label em {
    color: #515151;
}

#contact .contact-rich .block .data {
    font-size: 1em;
}

@media (max-width: 767px) {

     #category article .thumbnail-container .product-brand {
        font-size: 12px;
    }

    #category article .thumbnail-container .product-title {
        font-size: 14px;
    }
    #category article .thumbnail-container .product-price-and-shipping .price {
        font-size: 14px;
    }

    #category .product-miniature .product-brand, #category .product-miniature h3.h3 a, #category .product-miniature .product-price-and-shipping {
        text-align: left;
        display: flex;
    }
}


/***** ALEXANDRE *****/
/***** LOGIN & SIGN IN PAGES *****/
#customer-form .form-control, #login-form .form-control {
  border: 1px solid #d5dae2;
  padding: 20px 25px;
  min-height: 45px;
  line-height: 15;
  font-weight: normal;
  max-width: 100%;
  border-radius: 4px;
}

.form-group {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 1rem !important;
}

.form-group input:hover {
  cursor: pointer;
}

.form-control:focus {
  border: 2px solid #cc9e29 !important;
}

.register-form .input-group-btn .btn::before, .login-form .input-group-btn .btn::before{
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.input-group-btn {
  z-index: 5;
}

#customer-form .input-group, #login-form .input-group {
  display: block;
}

#customer-form label, #login-form label {
  display: none;
}

.facebook-login-bt .fa-facebook {
  display: none;
}

#submit-login, .social-login-bt {
  font-family: arial;
}
/***** END LOGIN & SIGN IN PAGES *****/



/***** 1% for the planet *****/
.planet_grid__container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.planet_grid_content {
  padding: 0px 60px;
  padding-top: 5%;
  text-align: justify;
}

.planet_grid_content, .planet_background_img {
  height: 100%;
}

.planet_grid__title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 4rem;
}

.planet_grid__title_two, .planet_grid__title_three {
  text-align: center;
}

.planet_background_img1 {
  background-image: url("http://localhost/img/cms/1for_the_planet1.png");
}

.planet_background_img2 {
  background-image: url("http://localhost/img/cms/1for_the_planet2.png");
}

.planet_background_img3 {
  background-image: url("http://localhost/img/cms/1for_the_planet3.png");
}

.planet_background_img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo_1_for_the_planet {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 13em;
}

#logo_1_for_the_planet {
  background-image: url("http://localhost/img/cms/logo1for_the_planet-removebg-preview.png");
  margin: 60px auto;
  width: 100%;
}

#logo_1_for_the_planet2 {
  background-image: url("http://localhost/img/cms/1for_the_planet_food_logo-removebg-preview.png");
  width: 100%;
}

#logo_1_for_the_planet3 {
  background-image: url("http://localhost/img/cms/1for_the_planet_logo3-removebg-preview.png");
  width: 100%;
}

#logo_1_for_the_planet5 {
  background-image: url("http://localhost/img/cms/logo1for_the_planet_black.png");
  width: 50%;
}

#logo_1_for_the_planet4 {
  background-image: url("http://localhost/img/cms/logo_mbs.png");
  margin: 60px auto;
  width: 50%;
}

#logos_join {
  display: flex;
  align-items: center;
  margin: 60px auto;
}

@media (max-width: 1220px) {
  .logo_1_for_the_planet {
    height: 8em;
  }
  #logo_1_for_the_planet, #logo_1_for_the_planet4 {
    margin: 0;
  }
  #logo_1_for_the_planet2 {
    background-image: url("http://localhost/img/cms/1for_the_planet_food_logo_responsive.png");
  }
  #logo_1_for_the_planet3 {
    background-image: url("http://localhost/img/cms/1for_the_planet_logo3_responsive.png");
  }
}

@media (max-width: 686px){
  #logo_1_for_the_planet2 {
    background-image: url("http://localhost/img/cms/1for_the_planet_food_logo-removebg-preview.png");
  }
  #logo_1_for_the_planet3 {
    background-image: url("http://localhost/img/cms/1for_the_planet_logo3-removebg-preview.png");
  }
  .planet_grid_title {
    margin-bottom: 2rem;
  }
  .planet_grid__container {
    display: block;
    margin-bottom: 50px;
  }
  .planet_background_img1 {
    display: none;
  }
  .planet_grid_content, .planet_background_img {
    height: unset;
  }
  .planet_grid_content {
    padding: 0px 20px;
  }
}

/***** END 1% for the planet *****/
